<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Hamoye Feature Forge</H1>

    <div>
        <!-- <form method="post" action="{{ url_for('predict')}}""> -->
        <form method="post" action="{{ url_for('predict_api')}}"">
            <div>
                <label for="">Country Name</label>
                <select name="Country_name" id="Country_name" >
                    <option value="Liberia">Liberia</option>
                    <option value="Burundi">Burundi</option>
                    <option value="Lesotho">Lesotho</option>
                    <option value="Zimbabwe">Zimbabwe</option>
                    <option value="Kenya">Kenya</option>
                    <option value="Congo, Democratic Republic of">Congo, Democratic Republic of</option>
                    <option value="Swaziland">Swaziland</option>
                    <option value="Namibia">Namibia</option>
                    <option value="Rwanda">Rwanda</option>
                    <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                    <option value="Madagascar">Madagascar</option>
                    <option value="Tanzania">Tanzania</option>
                    <option value="Malawi">Malawi</option>
                    <option value="Ethiopia">Ethiopia</option>
                    <option value="Congo, Republic of">Congo, Republic of</option>
                    <option value="Uganda">Uganda</option>
                    <option value="Zambia">Zambia</option>
                    <option value="Ghana">Ghana</option>
                    <option value="Cameroon">Cameroon</option>
                    <option value="Mozambique">Mozambique</option>
                    <option value="Nigeria">Nigeria</option>
                    <option value="Guinea">Guinea</option>
                    <option value="Sierra Leone">Sierra Leone</option>
                    <option value="Niger">Niger</option>
                    <option value="Mali">Mali</option>
                    <option value="Senegal">Senegal</option>
                    <option value="Burkina Faso">Burkina Faso</option>
                </select>
            </div>
            <div>
                <label for="Electricity">Electricity</label>
                <input type="number" name="Electricity" id="Electricity" 
                    placeholder="" required="required"
                    min="0" max="100"
                >
            </div>
            <div>
                <label for="Radio">Radio</label>
                <input type="number" name="Radio" id="" 
                    placeholder="" required="required"
                    min="0" max="100"
                >
            </div>
            <div>
                <label for="TV">TV</label>
                <input type="number" name="TV" id=""
                    placeholder="" required="required"
                    min="0" max="100"
                >
            </div>
            <div>
                <label for="Radio_Tv">Radio and TV</label>
                <input type="number" name="Radio_Tv" id=""
                    placeholder="" required="required"
                    min="0" max="100"
                >
            </div>
            <div>
                <label for="pry_School">Primary School</label>
                <input type="number" name="pry_School" id=""
                    placeholder="" required="required"
                    min="0" max="100"
                >
            </div>
            <div>
                <label for="Sec_School">Secondary School</label>
                <input type="number" name="Sec_School" id=""
                    placeholder="" required="required"
                    min="0" max="100"
                >
            </div>
            <div>
                <label for="Water">Water </label>
                <input type="number" name="Water" id=""
                    placeholder="" required="required"
                    min="0" max="100"
                >
            </div>
            <div>
                <label for="Sanitation">Sanitation</label>
                <input type="number" name="Sanitation" id=""
                    placeholder="" required="required"
                    min="0" max="100"
                >
            </div>
            <button type="submit" class="">Predict</button>
        </form>
    </div>
    <div>
        <H4>{{ prediction_text}}</H4>
    </div>
</body>
</html>