body {
    background-color: #f0f0f0;
    color: #333;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-block {
    position: relative;
    background: linear-gradient(rgba(56, 96, 140, 0.6), rgba(56, 96, 140, 0.6)),
        url('/static/images/Children-in-the-library-Ripple-Africa.jpg') no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 5px;
}

h1 {
    color: #fff;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button.btn {
    background-color: #009688;
    color: #fff;
    border: none;
}

button.btn:hover {
    background-color: #007772;
}

/* Style form inputs */
.form-control {
    border: 1px solid #ccc;
}